extends layout

block content
  div(class="head")
    h1= title

  p(class= "tag") Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.
  

  ul(class="para autlists")
    each author in author_list
      li
        a(href=author.url) #{author.name}
        | (#{author.date_of_birth_formatted} - #{author.date_of_death_formatted})

    else
      li There are no authors.